@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html{font-size:10px;font-family:'Open Sans', sans-serif}
body{background:#eee}
.container{width:98%;margin:0 auto;border-style:solid;border-width:0.5vw;border-image: linear-gradient(to right, #ff3066 0%, #7c4dff 100%);border-image-slice:1;background:#f7f7f7;box-sizing:border-box}
.loader{display:table-cell;width:100vw;height:92vh;text-align:center;vertical-align:middle}
.loader_txt{display:inline-block;font-size:3rem;font-weight:bold;animation: loading 1s infinite}

@keyframes loading {
    0% {
        background:linear-gradient(-90deg, #ff3066, #7c4dff);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        -moz-background-clip:text;
        -moz-text-fill-color:transparent;
        -o-background-clip:text;
        -o-text-fill-color:transparent;
    }
    50%{
        background:linear-gradient(0deg, #ff3066, #7c4dff);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        -moz-background-clip:text;
        -moz-text-fill-color:transparent;
    
        -o-background-clip:text;
        -o-text-fill-color:transparent}
    100% {
        background:linear-gradient(90deg, #ff3066, #7c4dff);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        -moz-background-clip:text;
        -moz-text-fill-color:transparent;
        -o-background-clip:text;
        -o-text-fill-color:transparent
    }
}




    